[phases.setup]
aptPkgs = [
  "libcairo2-dev",
  "libpango1.0-dev",
  "libjpeg-dev",
  "libgif-dev",
  "librsvg2-dev",
  "build-essential",
  "pkg-config",
  "libpixman-1-dev"
]

[phases.install]
cmds = ["npm install"]

[start]
cmd = "npm start"
